<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=2.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">

    <title>citiesandbeaches.com</title>

    <!--<link rel="icon" href="../../img/favicon.ico" type="image/x-icon" />-->
    <link rel="stylesheet" href="../../assets/css/base.css">
    <link rel="stylesheet" href="../../assets/css/itinerary.css">
    <link rel="stylesheet" href="../../assets/css/photoswipe.css" />
    <link rel="stylesheet" href="../../assets/css/default-skin.css" />
</head>

<body>

    <header>
        <nav class="nav">
            <a class="logo" href="" alt="Cities and Beaches Logo"></a>
            <ul>
                <li class="menu">
                    <a class="menu-link" href="#">
                        Destinations
                        <span class="icon-arrow-down"></span>
                    </a>
                    <div class="menu-popup destinations">
                        <div class="popup-window">
                            <span class="icon-close"></span>
                            <div class="row">
                                <div class="column double"><a class="title" href>Europe</a></div>
                                <div class="column title"><a class="title" href>Americas</a></div>
                                <div class="column title"><a class="title" href>Africa</a></div>
                                <div class="column title"><a class="title" href>Asia</a></div>
                                <div class="column title"><a class="title" href>Middle East</a></div>
                            </div>
                            <div class="row">
                                <ul class="column">
                                    <li><a href>Australia</a></li>
                                    <li><a href>Croatia</a></li>
                                    <li><a href>Cyprus</a></li>
                                    <li><a href>Czechia</a></li>
                                    <li><a href>Denmark</a></li>
                                    <li><a href>Estonia</a></li>
                                    <li><a href>Finland</a></li>
                                    <li><a href>France</a></li>
                                    <li><a href>Germany</a></li>
                                    <li><a href>Greece</a></li>
                                </ul>
                                <ul class="column">
                                    <li><a href>Hungary</a></li>
                                    <li><a href>Italy</a></li>
                                    <li><a href>Latvia</a></li>
                                    <li><a href>Montenegro</a></li>
                                    <li><a href>Poland</a></li>
                                    <li><a href>Portugal</a></li>
                                    <li><a href>Slovakia</a></li>
                                    <li><a href>Slovenia</a></li>
                                    <li><a href>Spain</a></li>
                                    <li><a href>Sweden</a></li>
                                </ul>
                                <ul class="column">
                                    <li><a href>Argentina</a></li>
                                    <li><a href>Brazil</a></li>
                                    <li><a href>Caribbean</a></li>
                                    <li><a href>Costa Rica</a></li>
                                    <li><a href>Ecuador</a></li>
                                    <li><a href>Mexico</a></li>
                                    <li><a href>Panama</a></li>
                                    <li><a href>Peru</a></li>
                                </ul>
                                <ul class="column">
                                    <li><a href>Egypt</a></li>
                                    <li><a href>Kenya</a></li>
                                    <li><a href>Morocco</a></li>
                                    <li><a href>South Africa</a></li>
                                    <li><a href>Tanzania</a></li>
                                </ul>
                                <ul class="column">
                                    <li><a href>Cambodia</a></li>
                                    <li><a href>China</a></li>
                                    <li><a href>India</a></li>
                                    <li><a href>Indonesia</a></li>
                                    <li><a href>Japan</a></li>
                                    <li><a href>Malaysia</a></li>
                                    <li><a href>Singapore</a></li>
                                    <li><a href>Sri Lanka</a></li>
                                    <li><a href>Thailand</a></li>
                                    <li><a href>Vietnam</a></li>
                                </ul>
                                <ul class="column">
                                    <li><a href>United Arab Emirates</a></li>
                                    <li><a href>Turkey</a></li>
                                    <li><a class="inner-column title" href>Indian Ocean</a></li>
                                    <li><a class="inner-column" href>Maldives</a></li>
                                    <li><a class="inner-column" href>Mauritius</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="menu">
                    <a class="menu-link" href="#">
                        Collections
                        <span class="icon-arrow-down"></span>
                    </a>
                    <div class="menu-popup collections">
                        <div class="popup-window">
                            <span class="icon-close"></span>
                            <div class="row">
                                <ul class="column">
                                    <li><a href>City Breaks</a></li>
                                    <li><a href>Twin Centre</a></li>
                                    <li><a href>Multi Centre</a></li>
                                    <li><a href>Worldwide Tours</a></li>
                                    <li><a href>Adults Only</a></li>
                                </ul>
                                <ul class="column">
                                    <li><a href>Occasions</a></li>
                                    <li><a href>Winter City Breaks</a></li>
                                    <li><a href>Luxury Breaks</a></li>
                                    <li><a href>All Inclusive Holidays</a></li>
                                    <li><a href>Family Holidays</a></li>
                                </ul>
                                <ul class="column">
                                    <li><a href>Summer Holidays</a></li>
                                    <li><a href>European Tours</a></li>
                                    <li><a href>Classic Collection</a></li>
                                    <li><a href>Greek Island Hopping</a></li>
                                    <li><a href>New & Exclusive Offers</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a class="menu-link" href="">Blogs</a></li>
                <li><a class="menu-link" href="">Offers</a></li>
                <li><a class="menu-link" href="">About</a></li>
                <li><a class="menu-link" href="">Contact</a></li>
            </ul>
            <div class="contacts">
                <span class="phone">0203 011 1520</span>
                <span>We’re open until 11pm</span>
            </div>
        </nav>
        <nav class="mobile-nav">
            <a class="mobile-contacts" href="tel:+44-203-011-1520"><span class="mobile-contacts-btn"></span></a>
            <span class="mobile-back-btn"></span>
            <a class="logo" href="" alt="Citrus holidays Logo"></a>
            <span class="mobile-menu-btn"></span>
            <span class="mobile-close-btn"></span>
            <ul class="mobile-menu">
                <li class="menu-link" id="mobile-destinations-btn">Destinations</li>
                <li class="menu-link" id="mobile-collections-btn">Collections</li>
                <li><a class="menu-link" href="">Blogs</a></li>
                <li><a class="menu-link" href="">Offers</a></li>
                <li><a class="menu-link" href="">About</a></li>
                <li><a class="menu-link" href="">Contact</a></li>
            </ul>
            <div class="mobile-collections collections">
                <a class="view-all" id="view-all-colect" href="">View all</a>
                <ul class="mobile-collections-list">
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>City Breaks</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>Twin Centre</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>Multi Centre</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>Worldwide Tours</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>Adults Only</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>Occasions</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>Winter City Breaks</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>Luxury Breaks</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>All Inclusive Holidays</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>Family Holidays</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>Summer Holidays</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>European Tours</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>Classic Collection</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>Greek Island Hopping</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>New & Exclusive Offers</a></li>
                </ul>
            </div>
            <div class="mobile-destinations">
                <ul class="mobile-destinations-list">
                    <li id="europe-dest">Europe</li>
                    <li id="americas-dest">Americas</li>
                    <li id="africa-dest">Africa</li>
                    <li id="asia-dest">Asia</li>
                    <li id="mideast-dest">Middle East</li>
                    <li id="indian-dest">Indian Ocean</li>
                </ul>
                <a class="view-all" id="view-all-dest" href="">View all</a>
                <ul class="europe-destinations">
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>Austria</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>Croatia</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>Cyprus</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>Czechia</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>Denmark</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>Estonia</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>Finland</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>France</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>Germany</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>Greece</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>Hungary</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>Italy</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>Latvia</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>Montenegro</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>Poland</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>Portugal</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>Slovakia</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>Slovenia</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>Spain</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>Sweden</a></li>
                </ul>
                <ul class="americas-destinations">
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>Argentina</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>Brazil</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>Caribbean</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>Costa Rica</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>Ecuador</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>Mexico</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>Panama</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>Peru</a></li>
                </ul>
                <ul class="africa-destinations">
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>Egypt</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>Kenya</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>Morocco</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>South Africa</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>Tanzania</a></li>
                </ul>
                <ul class="asia-destinations">
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>Cambodia</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>China</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>India</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>Indonesia</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>Japan</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>Malaysia</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>Singapore</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>Sri Lanka</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>Thailand</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>Vietnam</a></li>
                </ul>
                <ul class="middle-east-destinations">
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>United Arab Emirates</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>Turkey</a></li>
                </ul>
                <ul class="indian-ocean-destinations">
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>Maldives</a></li>
                    <li style="background-image: url(../../assets/img/header/austria.jpg)"><a href>Mauritius</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <section class="itinerary-hero">
    <!-- Sitewide -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../../assets/js/jquery-ui.js"></script>
    <script type="text/javascript" src="../../assets/js/lity.min.js"></script>
    <script type="text/javascript" src="../../assets/js/common.js"></script>
    <script type="text/javascript" src="../../assets/js/itinerary.js"></script>
    <script type="text/javascript" src="../../assets/js/slick.min.js"></script>
    <script type="text/javascript" src="../../assets/js/jquery-tabs.min.js"></script>
    <script type="text/javascript" src="../../assets/js/photoswipe.min.js"></script>
    <script type="text/javascript" src="../../assets/js/photoswipe-ui-default.min.js"></script>

<div id="content" class="lity-hidden" style="max-height: 249px;" aria-hidden="true">
    <form>
        <div class="calendar-modal">
            <div class="search-form">
                <div class="title"><span>Travel</span> Details</div>
                <p>Please feel free to amend your search</p>
                <div class="form-box">
                    <div class="label">Country</div>
                    <div class="input">
                        <input value="Italy" /> <span class="icon-dropdown"></span>
                    </div>
                </div>
                <div class="form-box">
                    <span class="label">City</span>
                    <div class="input">
                        <input value="Italy" /> <span class="icon-dropdown"></span>
                    </div>
                </div>
                <div class="form-box">
                    <span class="label">Hotel Name</span>
                    <div class="input">
                        <input value="Readision" /> <span class="icon-dropdown"></span>
                    </div>
                </div>
                <div class="form-box">
                    <span class="label">Departing from</span>
                    <div class="input">
                        <input value="London Heathrow" /> <span class="icon-dropdown"></span>
                    </div>
                </div>
                <div class="form-box">
                    <span class="label">Departure month</span>
                    <div class="input">
                        <input value="June" /> <span class="icon-dropdown"></span>
                    </div>
                </div>
                <div class="form-box">
                    <span class="label">Passengers</span>
                    <div class="input">
                        <input value="2 adults, 0 children" /> <span class="icon-dropdown"></span>
                    </div>
                </div>
                <button class="book-btn" disabled>
                    <div class="price-wrap">
                        <span class="price-label">Total Price</span>
                        <span class="price">£0</span>
                    </div>
                    <div class="book">Book Now<span class="icon-more-white"></span></div>
                </button>
                <button class="btn date-select-btn">Select Dates<span class="icon-more"></span></button>
            </div>
            <div class="calendar it-row">
                <div id="datepicker"></div>
                <button class="btn book-btn" disabeld>
                    <div class="price-wrap">
                        <span class="price-label">Total Price</span>
                        <span class="price">£0</span>
                    </div>
                    <div class="book">Book Now<span class="icon-more-white"></span></div>
                </button>
            </div>
            <div class="close-btn" data-lity-close><span class="close-txt"data-lity-close>Close</span><span class="icon-close" data-lity-close></span></div>
            <span class="mobile-back-btn"></span>
        </div>
    </form>
</div>

<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>

</section>
</body>
</html>
