@import "./mixins";


.hero-section {
    background-image: url(../../assets/img/aboutus/hero-image.jpg);
    margin-bottom: 0px;
}
.usp-section{
    background-color: #f5f5f5;
    max-width: 100%;
    padding-top: 40px;
    @include flex();
    @include flex-align-items(center);
    @media(max-width: 450px){
        padding-top: 25px;
    }
    section{
        margin-bottom: 45px;
        @media(max-width: 940px){
            margin: 0px 0px 45px 0px;
            padding-left: 20px;
            max-width: 100%;
        }
        @media(max-width: 450px){
            margin: 0px 0px 25px 0px;
        }
    }
    .usps{
        @include flex();
        .usp{
            display: inline-block;
            margin-right: 25px;
            width: 290px;
            @media(max-width: 768px){
                width: 260px;
            }
            @media(max-width: 450px){
                width: 223px;
            }
            &:last-child{
                margin-right: 0px;
            }
            .usp-title{
                font-family: "BentonSansMedium";
                font-size: 24px;
                padding-bottom: 20px;
                @include flex();
                @include flex-align-items(center);
                @include flex-justify-content(center);
                @media(max-width: 768px){
                    font-size: 20px;
                    line-height: 22px;
                }
                .icon-location {
                    margin-right: 15px;
                    content: "";
                    background-image: url("../../assets/img/aboutus/location-icon.svg");
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 40px;
                    height: 40px;
                    @media(max-width: 768px){
                        width: 30px;
                        height: 30px;
                    }
                }
            }
            p{
                line-height: 24px;
                text-align: justify;
                @media(max-width: 768px){
                    font-size: 14px;
                    line-height: 22px;
                }
                @media(max-width: 450px){
                    font-size: 12px;
                }
            }
        }
    }
  
}
.intro-section {
    @include flex();
    @include flex-justify-content(space-between);
    @include flex-align-items(center);
   
    @media(max-width:940px) { 
        @include flex-direction(column);
    }
    @media(max-width: 760px){
        @include flex-align-items(flex-start);
        align-self: center;
    }
    .title {
        display: inline-block;
        font-family: "BentonSansExtraLight";
        font-size: 60px;
        color: #000000;
        line-height: 60px;
        @media(max-width: 940px){
            font-size: 40px;
            padding-bottom: 20px;
        }
        @media(max-width: 610px){font-size: 36px;}
        @media(max-width: 530px){line-height: 35px;}
        .caslo-graphique {
            font-family: "CaslonGraphiqueEF";
            color: $secondary;
            @media(max-width: 1260px){
                display: block;
            }
            @media(max-width: 940px){
                display: inline-block;
            }
            @media(max-width: 530px){
                display: block;
            }
        }
    }
    p {
        display: inline-block;
        width: 396px;
        text-align: left;
        @media(max-width: 940px){
            width: 100%;
            height: auto;
            text-align: justify;
        }
    }
}
.about-section{    
    @media(max-width: 768px){
        max-width: 100%;
    }
    img{
        margin-bottom: 75px;
        height: 441px;
        object-fit: cover;
        @media(max-width: 1260px){
            max-width: 1040px;
        }
        @media(max-width: 1100px){
            max-width: 880px;
        }
	    @media(max-width: 940px){
	    	max-width: 730px;
	    }
        @media(max-width: 768px){
            max-width: none;
            width: 100%;
            height: 258px;          
        }      
    }
    p{
        line-height: 26px;
        @media(max-width: 940px){
            text-align: justify;
        }
        @media(max-width: 768px){
            margin: 0px auto;
        }
    }
    *:not(img){
        @media(max-width: 768px){
            max-width: 730px;
            margin-left:auto;
            margin-right:auto;
        }
        @media(max-width: 760px){max-width: 580px;}
        @media(max-width: 610px){max-width: 500px;}
        @media(max-width: 530px){max-width: 420px;}
        @media(max-width: 450px){max-width: 365px;}
        @media(max-width: 394px){max-width: 335px;}
        @media(max-width: 350px){max-width: 290px;}
    }
}

.meet-team-section{
    max-width: 100%;
    background-color: #f5f5f5;
    padding-top: 75px;
    padding-bottom: 40px;
    margin-bottom: 0px;
    @media(max-width: 768px){
        padding-top: 45px;
        padding-bottom: 10px;
    }
    .team-carousel{
        @media(max-width:1100px){ 
            max-width: 880px;
            .slick-list{
                overflow:visible;
            } 
        }
        @media(max-width:940px){ max-width: 730px;}
        @media(max-width:760px){ max-width: 580px;}
        @media(max-width:610px){ max-width: 500px;}
        @media(max-width:530px){ max-width: 420px;}
        @media(max-width:450px){ max-width: 365px;}
        @media(max-width:394px){ max-width: 335px;}
        @media(max-width:350px){ max-width: 290px;}
        .member {
            color: #000000;
            width: 291px;
            margin-left: 25px;
            @media(max-width: 1260px){
                width: 235px;
            }
            img{
                width: 291px;
                @media(max-width: 1260px){
                    width: 235px;
                }
            }
            .member-name {
                margin-top: 20px;
                font-family: "BentonSansMedium";
                font-size: 22px;
                line-height: 24px;
                color: #282828;
                @media(max-width: 768px){
                    font-size: 20px;
                }
            }
            .job-description {
                font-family: "BentonSans";
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 0.5px;
            }
            p {
                margin-top:25px;
            }
        }
    }
    .team-navigation {
        top: 385px;
        width: 100%;
        @media(max-width: 1100px){
            display: none;
        }
        .next {
            right: 0px;
        }
    }
}

.testimonials-section{
    max-width: 100%;
    padding-top: 100px;
    .slick-list { overflow:visible; }
    .testimonials-carousel{ 
        margin:0 auto; 
        max-width:1252px; 
        position:relative;
        left: -6px;
        @media(max-width: 1260px){
            max-width: 1040px;
        }
        @media(max-width: 1100px){
            max-width: 880px;
        }
        &:before, &:after { 
            background: #fff;
            content: "";
            display: block;
            height: 100%;
            opacity: .8;
            position: absolute;
            width: 50%;
            z-index: 1;
            top: 0; 
        }
        &:before{
            left: -50%;
            @media(max-width: 768px){
                left: 437px;
            }
            @media(max-width: 760px){
                left: 397px;
            }
            @media(max-width: 610px){
                left: 357px;
            }
            @media(max-width: 530px){
                left: 317px;
            }
            @media(max-width: 450px){
                left: 277px;
            }
            @media(max-width: 394px){
                left: 257px;
            }
            @media(max-width: 350px){
                left: 235px;
            }
        }
        &:after {
            right:-50%;
            @media(max-width: 768px){
                content: none;
            }
        }

        .testimonial-wrapper{
            width: 630px;
            min-height: 420px;
            padding: 12px;
            @media(max-width: 1260px){
                width: 517px;
            }
            @media(max-width: 1100px){
                width: 437px;
            }
            @media(max-width: 760px){
                width: 397px;
            }
            @media(max-width: 610px){
                width: 357px;
            }
            @media(max-width: 530px){
                width: 317px;
            }
            @media(max-width: 450px){
                width: 277px;
            }
            @media(max-width: 394px){
                width: 257px;
            }
            @media(max-width: 350px){
                width: 235px;
            }
        }   
        .testimonial{
            box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.15);
            padding: 70px;
            position: relative;
            @include border-radius(4px);
            @media(max-width: 1260px){
                padding: 60px;
            }
            @media(max-width: 1100px){
                padding: 50px;
            }
            @media(max-width: 940px){
                padding: 40px;
            }
            @media(max-width: 610px){
                padding: 30px;
            }
            @media(max-width: 450px){
                padding: 20px;
            }
            .testimonial-title{
                font-family: "BentonSansMedium";
                font-size: 24px;
                margin-bottom: 20px;
                @media(max-width: 450px){
                    font-size: 20px;
                }
            }
            .testimonial-author{
                font-family: "BentonSansBold";
                font-size: 14px;
                letter-spacing: 0.5px;
                margin-top: 20px;
                @media(max-width: 450px){
                    font-size: 12px;
                }
                .testimonial-date{
                    font-family: "BentonSans";
                }
            }
            img{
                position: absolute;
                top: 40px;
                right: 40px;
                @media(max-width: 940px){
                    display: none;
                }
            }
        }
    }
    .testimonials-navigation{
        top: 440px;
        width: 100%;
        @media(max-width: 940px){
            display: none;
        }
        .next{
            right: 0px;
        }
    }
}

.safety-section{
    max-width: 100%;
    background-color: #F5F5F5;
    margin-bottom: 0px;
    padding-top: 80px;
    padding-bottom: 80px;
    section{
        margin-bottom: 0px;
    }
    h2{
        color: #1a1a1a;
    }
    .card-wrap{
        @include flex();
        @include flex-justify-content(space-between);
        margin-top: 50px;
        @media(max-width: 940px){
                @include flex-direction(column);
                @include flex-align-items(center);
            }
        .card{
            @include flex();
            @include flex-direction(column);
            @include flex-justify-content(space-around);
            @include flex-align-items(center);
            width: 396px;
            background-color: #ffffff;
            @include border-radius(4px);
            box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.15);
            padding: 32px;
            @media(max-width: 1260px){
                width: 330px;
            }
            @media(max-width: 1100px){
                width: 280px;
            }
            @media(max-width: 940px){
                width: 450px;
                margin-bottom: 20px;
            }
            @media(max-width: 530px){
                width: 420px;
            }
            @media(max-width: 450px){
                width: 365px;
            }
            @media(max-width: 394px){
                width: 335px;
            }
            @media(max-width: 350px){
                width: 290px;
            }
            img{
                margin-bottom: 20px;
            }
            p{
                text-align: center;
                font-size: 14px;
                line-height: 26px;
            }
        }
    }
}