@import "./mixins";


.hero-section {
    background-image: url(../../assets/img/destinations/hero-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    @media(max-width: 768px){
        height: auto;
        padding: 35px 0px;
    }
    .breadcrumbs{
        position: absolute;
        left: 50px;
        top: 10px;

        a{
            font-family: "BentonSansMedium";
            font-size: 10px;
            line-height: 12px;
            color: #ffffff;
        }
        .icon-breadcrumb{
            padding: 0px 5px;
            content: url(../../assets/img/breadcrumb-arrow-icon.svg);
        }
    }
    .overview {
        width: 1028px;
        min-height: 346px;
        background-color: rgba(0,0,0,0.5);
        color: #ffffff;
        @include flex();
        padding: 40px 85px;
        align-items: center;
        @media(max-width: 1100px){
            width: 880px;
        }
        @media(max-width: 940px){
            width: 730px;
            @include flex-direction(column);
        }
        @media(max-width: 760px){
            width: 580px;
            padding: 35px 45px;
        }
        @media(max-width: 610px){
            width: 500px;
        }
        @media(max-width: 530px){
            width: 420px;
            padding: 25px 40px;
        }
        @media(max-width: 450px){
            width: 365px;
        }
        @media(max-width: 394px){
            width: 335px;
        }
        @media(max-width: 350px){
            width: 290px;
        }
        .lhs {
            padding-right: 75px;
            @media(max-width: 940px){
                @include flex();
                @include flex-direction(column);
                @include flex-align-items(center);
                padding-right: 0px;
                padding-bottom: 35px;
            }
            @media(max-width: 760px){
                padding-bottom: 25px;
            }
            span {
                font-family: "BentonSansBold";
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 5px;
                text-transform: uppercase;
            }

            h1 {
                color: #ffffff;
            }
            .destinations{
                font-size: 16px;
                line-height: 27px;
            }
        }

        p {
            color: #ffffff;
            font-size: 14px;
            @media(max-width: 940px){
                font-size: 12px;
                line-height: 22px;
                text-align: center;
            }
        }
    }
}
.destinations-section {
    position: relative;

    h2 {
        margin-bottom: 45px;
    }
    p{
        @media(max-width: 768px){
            text-align: justify;
        }
    }

    .carousel{
        @media(max-width: 1260px){
            @include flex();
            @include flex-justify-content(center);
        }
    }
    .destinations-carousel {
        margin: 40px -13px 0px;
        @media(max-width: 1260px){
            width: 830px;
        }
        @media(max-width: 940px){
            width: 730px;
        }
        @media(max-width: 760px){
            width: 580px;
            .slick-list{
                overflow: visible;
            }
        }
        @media(max-width: 610px){width: 500px;}
        @media(max-width: 530px){max-width: 420px;}
        @media(max-width: 450px){max-width: 365px;}
        @media(max-width: 394px){max-width: 335px;}
        @media(max-width: 350px){max-width: 290px;}
        .wrap-item {
            position: relative;

            .item {
                width: 396px;
                height: 310px;
                margin: 14px 13px;
                @media(max-width: 940px){
                    width: 350px;
                    margin: 12px 11px;
                }
                @media(max-width: 768px){
                    width: 213px;
                    margin: 14px 5px;
                }
                &:before {
                    position: absolute;
                    z-index: 2;
                    content: "";
                    display: block;
                    background-image: url(../../assets/img/compass-icon.svg);     
                    background-size: contain;
                    width: 120px;
                    height: 120px;
                    bottom: -10px;
                    left: -13px;
                    @media(max-width: 940px){
                        left: -10px;
                    }
                    @media(max-width: 768px){
                        width: 78px;
                        height: 78px;
                        bottom: 0px;
                        left: -5px;
                    }
                }
            }

            .content {
                top: 250px;
                left: 40px;
                position: absolute;
                color: #ffffff;
                z-index: 1;
                @media(max-width: 768px){
                    top: 260px;
                }
                &:before {
                    content: "";
                    width: 396px;
                    height: 156px;
                    background: linear-gradient(180deg, rgba(0,0,0,0), rgba(0,0,0,0.6));
                    position: absolute;
                    top: -82px;
                    left: -27px;
                    z-index: -1;
                    @media(max-width: 940px){
                        width: 350px;
                        top: -84px;
                        left: -29px;
                    }
                    @media(max-width: 768px){
                        width: 213px;
                        top: -94px;
                        left: -35px;
                    }
                }

                .location {
                    font-family: "CaslonGraphiqueEF";
                    font-size: 30px;
                    line-height: 27px;
                    text-align: left;
                    @media(max-width: 768px){
                        font-size: 20px;
                    }
                }

                span {
                    font-size: 16px;
                    @media(max-width: 768px){
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .destinations-navigation {
        width: 132px;
        height: 66px;
        top: 285px;
        left: -34px;
        @media(max-width: 1310px){
            left: -14px;
        }
        @media(max-width: 1260px){
            left: 40px;
            top: 325px;
        }
        @media(max-width: 1100px){
            left: 4px;
        }
        @media(max-width: 940px){
            left: -10px;
            top: 321px;
        }
        @media(max-width: 768px){
            display: none;
        }
        img {
            margin-top: 3px;
        }
        .next {
            left: 1240px;
            @media(max-width: 1310px){
                left: 1200px;
            }
            @media(max-width: 1260px){
                left: 905px;
            }
            @media(max-width: 1100px){
                left: 820px;
            }
            @media(max-width: 940px){
                left: 695px;
            }
        }
    }
}

