<div class="footer-background"></div>
<section>
    <div class="subscription">
        <div class="subscribtion-text-group">
            <div class="subscribe">Subscribe to our newsletter</div>
            <span class="desc">Get our latest news and offers delivered right to your inbox</span>
        </div>
        <form class="email-area" id="email-popup">
            <input type="email" name="email" id="nl1_email" placeholder="Enter email address" />
            <button type="button" class="btn email-btn" id="btnNewsLeter1">Subscribe</button>
            <a href="#email-popup" class="btn email-btn" data-lity>Subscribe</a>
            <span data-lity-close>Close</span>
        </form>
    </div>
</section>
