---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import MobileNav from '../components/MobileNav.astro';
import PageHero from '../components/PageHero.astro';
import Footer from '../components/Footer.astro';
import MobileCallCTA from '../components/MobileCallCTA.astro';
---

<BaseLayout title="Privacy Policy | Holidays - Flights and Packages">
  <Header />
  <MobileNav />
  <PageHero
    title="Privacy Policy"
    breadcrumbLabel="Privacy Policy"
    backgroundImage="/images/heroes/default.jpg"
  />

  <section class="about-section section-container">
    <br />
    <h4>Information collected by us</h4>
    <p>
      We receive and store any information you enter on our website or give us in any other way. This includes information that can identify you ("personal information"), including your first and last name, telephone number, postal and email addresses, fax number, and, if you make a reservation through our site, credit card information (such as credit card number, cardholder name, and expiration date). We also may request information about your hotel room preferences, loyalty, frequent flyer and/or car rental programme information.
    </p>
    <p>
      <strong>Additional Travellers Information.</strong> When you make a reservation for someone else we will request personal information and travel preferences about that individual. You should obtain the consent of other individuals prior to providing us with their personal information and travel preferences, as any access to view or change their information will be available only through you.
    </p>
    <p>
      <strong>Social Media/Facebook.</strong> If you make use of any social media features on our website, the social media provider may send us information in line with their policies. That information may include your name, profile picture, gender, friend lists and any other information you have chosen to make available. If you wish to prevent that sharing, you can do so by editing your Facebook privacy settings or the relevant settings/preferences for other social media providers.
    </p>
    <p>
      <strong>Call Monitoring.</strong> Calls to and from our customer service help desk may be recorded or monitored for the purpose of quality control and for staff training. Call recordings will be maintained as long as reasonably necessary and will then be deleted. Any personal information obtained from you during the call will be treated in accordance with the provisions of this Privacy Policy.
    </p>

    <h4>How we use your information</h4>
    <p>
      We use credit card information (such as cardholder name, credit card number, and expiration date) for the purpose of completing travel bookings. We use other information about you for the following general purposes: to provide you with the products and services you request; to provide you with travel confirmation and updates; to manage your account, including processing bills and providing travel notifications; to communicate with you in general; to respond to your questions and comments; to allow us to contact you for customer service, if necessary; to measure interest in and improve our products, services, and website; to notify you by email or post about special offers and travel-related products and services that may be of interest to you; to solicit information from you, including through surveys; to resolve disputes, collect fees, or troubleshoot problems; to prevent potentially prohibited or illegal activities; to enforce our Terms of Use; and as otherwise described to you at the point of collection.
    </p>
    <p>
      <strong>Email Communications.</strong> If you have subscribed to our email list we will send you deals periodically, please note that you will have the opportunity to unsubscribe with each email.
    </p>

    <h4>Sharing your information</h4>
    <p>We may share your information with the following entities:</p>
    <ul class="content-list">
      <li>Suppliers, such as hotel, airline, car rental, and activity providers, who fulfill your travel reservations.</li>
      <li>Third-party vendors who provide services or functions on our behalf, including credit card processing, business analytics, customer service, marketing, distribution of surveys or sweepstakes programs, and fraud prevention.</li>
    </ul>
    <p>Where required by law in the good faith belief that disclosure is necessary to comply with applicable laws or legal processes. Under US law, airlines are required to provide the US Department of Homeland Security with certain information about passengers travelling between the European Union and the US.</p>

    <h4>What are your Data Rights?</h4>
    <p>
      Under the General Regulation (EU) 2016/679, of 27 April 2016, on Data Protection (GDPR), the following rights are recognised in relation to the processing of your personal data: <strong>Right of access.</strong> You have the right to confirm that your personal data is being processed and, if the case, to get a copy of such data and complete information about the processing. <strong>Right to rectification.</strong> You have the right to amend errors, modify data that may be inaccurate or incomplete and ensure the information which is being processed is right. <strong>Right to erasure.</strong> You have the right to suppress your data without undue delay in the case that the processing is illegal or that the purpose for processing or collecting it has disappeared. <strong>Right to restriction.</strong> You have the right to ask for the suspension of the processing in the case that such processing is illegal or inadequate. <strong>Right to object.</strong> You have the right to object to the processing of your data in the case that the purpose of the processing is direct marketing or that the processing should be stopped for reasons relating to your personal situation, unless we can demonstrate compelling legitimate grounds to continue processing them or that the processing is necessary to exercise or defend legal claims.
    </p>
    <p>
      <strong>1. Right not to be subject to automated individual decisions.</strong> You have the right not to be subject to a decision based solely on automated processing, including profiling, which produces legal effects concerning you or similarly affects you, unless that is necessary for the execution of a contract, is permitted by the Law or it is based on your explicit consent.
    </p>
  </section>

  <Footer />
  <MobileCallCTA />
</BaseLayout>

<style>
  .about-section {
    padding-top: 60px;
    padding-bottom: 80px;
  }
  .about-section p {
    line-height: 26px;
  }
  .about-section h4 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #424242;
    font-family: "BentonSansBold", sans-serif;
    font-size: 18px;
    text-transform: none;
    letter-spacing: 0;
  }
  .content-list {
    list-style: disc;
    padding-left: 25px;
    margin-bottom: 15px;
  }
  .content-list li {
    font-size: 14px;
    line-height: 26px;
    color: #000;
  }
  @media (max-width: 768px) {
    .content-list li { font-size: 12px; line-height: 24px; }
  }
  @media (max-width: 940px) {
    .about-section p {
      text-align: justify;
    }
  }
  @media (max-width: 768px) {
    .about-section *:not(img) {
      max-width: 730px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media (max-width: 760px) {
    .about-section *:not(img) { max-width: 580px; }
  }
  @media (max-width: 610px) {
    .about-section *:not(img) { max-width: 500px; }
  }
  @media (max-width: 530px) {
    .about-section *:not(img) { max-width: 420px; }
  }
  @media (max-width: 450px) {
    .about-section *:not(img) { max-width: 365px; }
  }
  @media (max-width: 394px) {
    .about-section *:not(img) { max-width: 335px; }
  }
  @media (max-width: 350px) {
    .about-section *:not(img) { max-width: 290px; }
  }
</style>
