---
---

<div class="call-now-m fixed left-0 w-full bottom-0 z-[99] md2:hidden" style="background-color: rgba(0,0,0,0.82); padding: 20px;">
  <a
    href="tel:02081830518"
    class="block text-center text-white font-semibold bg-primary rounded-[15px] py-[5px]"
    style="font-size: 19px;"
  >
    <span class="text-[#ddd] pr-0.5">Call now</span> 0208 183 0518
  </a>
</div>
