---
---

<section class="intro-section section-container">
  <h1 class="intro-title font-extralight text-black leading-none">
    <span class="font-display text-secondary">Welcome</span> to Flights and Packages
  </h1>
  <p class="intro-text text-sm text-secondary/80 leading-relaxed text-left">
    At Flights and Packages we pride ourselves on being different. Our tours and holidays are tailor-made with you in mind and every little detail is carefully considered. Best of all, our team of experts work hard to ensure you get top quality at exceptional value. You can rest assured that you are in the best hands when you choose an adventure with us&hellip;
  </p>
</section>

<style>
  .intro-section {
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media (max-width: 939px) {
    .intro-section {
      flex-direction: column;
      align-items: center;
      padding-top: 50px;
      margin-bottom: 85px;
    }
  }
  @media (max-width: 759px) {
    .intro-section {
      align-items: flex-start;
    }
  }
  .intro-title {
    display: inline-block;
    font-size: 47px;
    line-height: 60px;
  }
  @media (max-width: 939px) {
    .intro-title {
      font-size: 40px;
      padding-bottom: 20px;
    }
  }
  @media (max-width: 609px) {
    .intro-title {
      font-size: 36px;
    }
  }
  .intro-title .font-display {
    display: inline-block;
  }
  @media (min-width: 940px) and (max-width: 1259px) {
    .intro-title .font-display {
      display: block;
    }
  }
  @media (max-width: 529px) {
    .intro-title .font-display {
      display: block;
    }
  }
  .intro-text {
    display: inline-block;
    width: 396px;
  }
  @media (max-width: 939px) {
    .intro-text {
      width: 100%;
      text-align: justify;
    }
  }
</style>
